.container {
  display: flex;
  margin: 15% auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border: 1px solid black;
}

.container h1 {
  font-size: 6.25rem;
  margin: 3rem;
}

a:hover#mail {
  color: #DD5144;
}

a:hover#github {
  color: #616161;
}

a:hover#linkedin {
  color: #0A66C2;
}
