.container {
  margin-top: 14rem;
  display: block;
}

.container h1 {
  display: inline-block;
  font-size: 6.25rem;
  margin: 3.5rem;
}

a:hover#mail {
  color: #DD5144;
}

a:hover#github {
  color: #616161;
}

a:hover#linkedin {
  color: #0A66C2;
}
