body {
  margin: auto;
  padding: 1.25rem;
  justify-content: center;
  max-width: 960px;
  font-family: 'Lato', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

@media (hover: hover) {
  a:hover {
    color: grey;
  }
}

a:active {
  color: black;
}
